* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#mypic {
  width: 250px;
  height: 304px;
  border: 3px solid grey;
  display: inline-block;
  vertical-align: top;
  margin: 0px 50px 0px 15px;
}
#container {
  margin: 0px auto;
  width: 1250px;
  background-color: rgb(31, 30, 30);
  padding: 0px 10px;
}
#title {
  padding: 5px;
}
  #title h1 {
    color: white;
    display: inline-block;
    margin: 0px 350px 0px 10px;
  }
  #title h2 {
    color: white;
    display: inline-block;
  }
#about {
  display: inline-block;
  padding: 5px;
  width: 900px;
  border: 3px solid grey;
}
  #about h4 {
    background-color: grey;
    padding: 10px;
    color: white;
  }
  #about p {
    color: white;
  }
.project {
  width: 300px;
  height: 350px;
  text-align: center;
  border: 3px solid grey;
  padding: 5px;
  display: inline-block;
  margin: 10px 50px;
  vertical-align: top;
}
.tech {
  margin: 15px;
}
.techicon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.projectdesc {
  color: white;
  margin: 5px 0px;
}
.contactfooter {
  margin: 0px 445px;
}
.contactblock {
  margin: 5px;
  padding: 5px;
  display: inline-block;
}
  .contactblock a {
    padding: 0px 0px 0px 10px;
  }
.contacticon {
  width: 40px;
  height: 40px;
}
